<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="col-12">
        <!-- Page title -->
        <div class="my-5">
            <h2>Question </h2>
            <hr>
            <h3>?</h3>
        </div>
        <div class="col-md-8 offset-md-2" >
            <h4 class="fw-bold text-center mt-3"></h4>
            <form class="px-4" action="">
              <p style="font-size:25px" class="fw-bold">Choose one or more options</p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" style="font-size:20px" for="flexCheckDefault">
                  Option 1
                </label>
              </div>
          
              <!-- Checked checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
                <label style="font-size:20px" class="form-check-label" for="flexCheckDefault2">
                  Option 2
                </label>
              </div>
          
              <!-- Checked checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
                <label style="font-size:20px" class="form-check-label" for="flexCheckDefault3">
                  Option 3
                </label>
              </div>
            </form>
            <div class=" text-end">

              <button class="col-md-6 offset-md-2" type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
</body>
</html>