<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="col-12">
        
        <!-- Page title -->
        <div class="my-5">
            <h1 class="col-6">Trivia</h1>
            
            <hr>
            <a href="/profile"><button type="button" class="btn btn-info btn-lg">Profile</button></a>
            <a href="/logout"> <button type="button" class="btn btn-info btn-lg">Logout</button></a>
        </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
            <th scope="col">Time</th>
            <td scope="col">Delete</td>
        </tr>
        </thead>
        <tbody>
            {% for x in scores %}
                <tr>
                    <th scope="row">{{x.id}}</th>
                    <td>{{x.user.first_name}}</td>
                    <td>{{x.score}}</td>
                    <td>{{x.updated_at}}</td>
                    
                    {% if x.user_id == user %}
                        <td>
                            <a href="/delete/{{x.id}}">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <a href="/questions/0"><button type="button" class="btn btn-danger btn-lg">Play</button></a>
</body>
</html>